.chart {
    shape-rendering: crispEdges;
}

.xaxis line,
.xaxis path,
.yaxis line,
.yaxis path {
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 0;
}

.xaxis text{
    font-family: sans-serif;
    font-size: 80px;
    fill: rgba(0, 0, 0, 0.8);
}

.yaxis text{
    font-family: sans-serif;
    font-size: 80px;
    fill: rgba(0, 0, 0, 0.6);
}

.grid .tick {
    stroke: black;
    stroke-dasharray: 4, 4;
    stroke-width: 3;
    opacity: 1;
}

.grid path {
   // stroke-width: 30;
}

.grid {
    pointer-events: none;
}

.gridMonth .tick {
    stroke: grey;
    stroke-dasharray: 4, 8;
    stroke-width: 3;
}

.numberLabel {
    font-family: sans-serif;
    font-size: 8px;
    fill: rgba(0, 0, 0, 0.5);
}

#visualisationWrapper {
    position: fixed;
    top: 0px;
    z-index: -1;
}

div.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  background: #333;
  color: white;
  font-size: 1.5em;
}

.multi {

}

.multi:hover {

}

.node {
    opacity: 0;
    transition: opacity 1000ms ease;
}

.node[data-active="true"] {
    opacity: 1
}

.toggles {
    font-size: 3em;
    padding: 2em;
    background: rgba(253, 108, 180, 0.5);
    border: 10px solid dodgerblue;
    border-radius: 15px;
    display: inline-block;
    margin: 50px;
}

.toggler {
    padding: 1em .5em;
    font-family: 'avenir';
    font-weight: bold;
    text-decoration: none;
    color: dodgerblue;
    text-transform: uppercase;
    transition: color 1000ms ease;
}

.toggler.is-active {
    color: white;
}
